<pm-app-page>
  <div class="products-container" *ngIf="products$ | async as products">
    <div class="products-list" *ngIf="productFilter$ | async as productFilter">
      <pm-products-list
        [products]="products"
        (onSelect)="doSelect($event)"
        (onAdd)="doAddNew()"
        (onChange)="doChange($event)"
        [pageNo]="productFilter.pageNo"
        [pageSize]="productFilter.pageSize"
        [total]="productFilter.total"
      ></pm-products-list>
    </div>
  </div>
</pm-app-page>
