.side-nav {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .app-header {
    height: 100px;
    z-index: 2;
  }

  .scroll-container {
    padding: 8px;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 0;
    div {
      display: flex;
      flex-direction: column;
      position: relative;
      a {
        height: 100px;
      }
    }

    mat-list-item {
      border-radius: 16px;
    }
  }

  .bottom-bar {
    max-height: 52px;
  }
}
