@use "@angular/material" as mat;

$anms-light-primary: mat.define-palette(mat.$indigo-palette, 800, 300, 900);
$anms-light-accent: mat.define-palette(mat.$light-blue-palette);
$anms-light-warn: mat.define-palette(mat.$pink-palette, 600);

$anms-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $anms-light-primary,
      accent: $anms-light-accent,
      warn: $anms-light-warn,
    ),
  )
);
