<mat-card>
  <mat-card-header>
    <span style="flex: 1"></span>
    <button mat-raised-button color="primary" (click)="doAdd()">Add New</button>
  </mat-card-header>
  <mat-card-content>
    <mat-action-list role="list">
      <mat-list-item
        class="product-item"
        role="listitem"
        *ngFor="let p of products"
        [ngClass]="p.isSelected ? 'active' : ''"
        [routerLink]="[p.productId]"
      >
        <a>{{ p.productName }}</a>
      </mat-list-item>
    </mat-action-list>
    <pm-pagination-bar
      [pageNo]="pageNo"
      [total]="total"
      [pageSize]="pageSize"
      (onChange)="doChange($event)"
    ></pm-pagination-bar>
  </mat-card-content>
</mat-card>
